[2022-04-18 06:06] d1mster opened #485 "Development Pods support"
Does library support development pods? I run script, it works properly, but periphery found unused code only in my main target.

[2022-04-18 14:33] liamnichols commented on #473
Closing this now since #480 merged to `master`, thanks!

[2022-04-18 14:33] #473 closed

[2022-04-19 08:27] Servus7 commented on #484
Had the same problem and this solved it #280

[2022-04-20 04:29] kekearif opened #488 "Command PhaseScriptExecution failed with a nonzero exit code on Aggregate Target"
Hi, I am having trouble using periphery with an aggregate target. The command I am trying to use is: `periphery scan --workspace CoolApp.xcworkspace --schemes CoolApp --targets CoolApp --format Xcode`

I have tried this exact command in the terminal and it works perfectly. However when I add an aggregate target I get the following error: `line 3: periphery: command not found
Command PhaseScriptExe

[2022-04-26 07:54] AF-cgi commented on #488
@kekearif Which Xcode version do you use?
@ileitch How it looks with a release of a new version? Maybe the different behavior in usage of Apple's SwiftSyntax library could solve any issues by using Xcode 13.3.x.

[2022-04-26 16:00] denizdogan opened #489 "Ignore entire files configured in .periphery.yml"
It would be nice if we could ignore entire files from .periphery.yml, since some tools like [Shark](https://github.com/kaandedeoglu/Shark/) automatically generate source code.

[2022-04-26 17:14] ayyappa-s opened #490 "unable to build a release from the latest master on Xcode 13.3.1"
hi I was trying to clone and run `make build_release` it get broken due to duplicate symbols for on Xcode 13.3.1 ?

[code]

[2022-04-28 18:27] AF-cgi commented on #490
@ayyappa-s You can try the master branch. It should work. Therefor needs a new release.

[2022-04-29 08:02] liamnichols commented on #490
@ileitch, would it be possible to tag a release for this sometime soon? 🙏

[2022-04-29 08:23] andraskadar commented on #485
Hi @d1mster!
I have just recently tried it and it works for me without issues. The only thing is that the `--setup` did not detect the target automatically. My yml file looks like this:
[code]

[2022-05-01 03:01] jphong1111 opened #491 "periphery shows wrong instance when it's using inside init"
I found a lot of wrong cases which is using inside init(), convenience init()

here is the example

[code]

in this case, **c, d** is fine but periphery shows me **a, b** instances are not using inside my codebase

[2022-05-02 07:23] ayyappa-s commented on #490
just tried with `makebuild_release` latest master (`bf905a03773e33e5717f6a1973e1e50fb6b84238`) same results :(

duplicate symbol '_swiftparse_diagnostic_get_fixit' in:
    .build/apple/Products/Release/SwiftSyntaxParser.o
    .build/apple/Products/Release/lib_InternalSwiftSyntaxParser.framework/lib_InternalSwiftSyntaxParser
duplicate symbol '_swiftparse_diagnostic_get_fixit_count' in:
    .build/a

[2022-05-02 09:27] arixegal opened #492 "False positive: class extension declaration: when a typeAlias is used in order to specify the extended class"
In the following code, a false positive "unused" is reported for the expression "WebViewLinks", even though it is used in the next line

[2022-05-02 09:59] ayyappa-s commented on #490
looks like i found something. Looks like there is an open issue which could affecting our build https://github.com/apple/swift/issues/58079

took the text below from here - https://github.com/keith/StaticInternalSwiftSyntaxParser

@ileitch for your kind attention.

[2022-05-02 16:23] liamnichols commented on #490
Ah, I never checked the Makefile when working on #473, we can use a workaround similar to this:

https://github.com/krzysztofzablocki/Sourcery/blob/9616fade78c7a79f257c7b9b401a71820b501101/Rakefile#L66-L74

I'll try and work on a patch tomorrow 🤞

[2022-05-02 17:00] ayyappa-s commented on #490
thanks @liamnichols :). that would be very helpful

[2022-05-02 17:10] liamnichols commented on #490
@ayyappa-s: It's also worth mentioning that `make build_release` is only necessary if you want to build a universal binary (i.e to package for distribution).

If you want to just build for use locally on your machine, running `swift build -c release` should do the trick (the output can be found at `swift build -c release --show-bin-path`

[2022-05-02 17:19] ayyappa-s commented on #490
sure i will use that but i still need it for package distribution, will wait for you :). until then I will use the local way for now. thanks

[2022-05-02 20:21] liamnichols commented on #490
Ahh ok, understood 🙂 fix is in https://github.com/peripheryapp/periphery/pull/493 👍

[2022-05-04 02:34] ayyappa-s commented on #490
one thing i noticed with the latest periphery build on my local machine is the time taken for the periphery scan is kind of doubled. will check this again and let you know.

[2022-05-04 10:53] liamnichols commented on #490
@ayyappa-s: To confirm, how did you compare? Are you able to share a small sample project that we can use to compare together?

Am I right in assuming that you are seeing this difference between the last official release and building `master`? Do you still see the issue if you use Xcode 13.2.1 to build `periphery` instead of Xcode 13.3?

[2022-05-04 11:20] ayyappa-s commented on #490
sure @liamnichols i will see how project can be shared, btw is there a way where we can ask periphery to run in a mode to show why things getting slowed down ? if there is something to diagnose can you please share ?

[2022-05-04 21:21] xuekevin commented on #485
have same question: wonder if we planning to support DevelopmentPod, thanks

[2022-05-04 22:10] xuekevin commented on #485
basically when seeing my project structure in xcode, it is like below

| MyProject
     | AppDelegate
| Pods
     | Development Pods
          | modulePod1
          | modulePod2
          | modulePod3

if I add modulePod1 's target name into yml file, the error will be
`Target 'modulePod1' does not exist in `MyProject.xcworkspace`

[2022-05-05 01:16] ayyappa-s commented on #490
thanks @ileitch i am closing down this issue for now and open a new one for the time. thanks for the numbers 🙏🏾

[2022-05-05 01:16] #490 closed

[2022-05-07 15:04] Sherlouk commented on #281
Thanks @aronhoff, that solution didn't work for me verbatim but it gave me inspiration to try some other build parameters.

I managed to get setup and working with this command:

[code]

Of course, once setup (and the information is stored in the `.yml` file) then I can simply run `swift periphery scan` and it all works 🎉

[2022-05-08 11:25] ileitch commented on #490
Thank you all for handling this. I will get a new release out later today!

[2022-05-08 11:28] ileitch commented on #489
@denizdogan this is already supported, please see [Excluding Files](https://github.com/peripheryapp/periphery#excluding-files) in the README. You can use the `--verbose` flag to see the yaml config.

[2022-05-08 11:28] #489 closed

[2022-05-08 11:31] ileitch commented on #488
@kekearif How did you still Periphery? It needs to exist in your `PATH` for you to call it like this. Alternatively, you can use the absolute path to periphery in your script.

@AF-cgi Hoping to cut a new release later today.

[2022-05-08 11:31] #488 closed

[2022-05-08 11:32] ileitch commented on #492
Thanks for reporting, I will investigate soon.

[2022-05-08 11:36] ileitch commented on #491
@jphong1111 Can you please provide a small project that reproduces the error? Is Periphery saying the properties are unsued, or assign-only? Does it also report any of the initializers as unused?

[2022-05-08 11:38] ileitch commented on #485
Hey all, thanks for reporting. I will take a look shortly!

[2022-05-08 11:39] ileitch commented on #484
@Sawka01 can you please confirm if #280 resolves your problem?

[2022-05-09 12:17] Sawka01 commented on #484
No, I resolved this problem with adding index_store_path -> ${PODS_ROOT}/Periphery/periphery scan --index-store-path ${BUILD_ROOT}/../../Index/DataStore

[2022-05-13 15:57] david-palmer79 opened #496 "Periphery doesn't seem to work with a workspace file."
periphery version 2.9.0
MacOS 12.3.1
Xcode 13.0

### Discussed in https://github.com/peripheryapp/periphery/discussions/495

<div type='discussions-op-text'>

<sup>Originally posted by **david-palmer79** May 10, 2022</sup>
I'm trying to use periphery with a workspace. I get the error "Target 'MyApp' does not exist in 'MyApp.workspace'". It is my understanding a workspace doesn't have a target. Thi

[2022-05-15 09:06] ileitch commented on #496
You're missing the `--targets` argument. I suggest you try first with `periphery scan --setup`, it'll output the correct command for you.

[2022-05-15 17:39] david-palmer79 commented on #496
Thank you, for the quick reply. I added the ```--targets``` argument to my original periphery command and I get the same error:
[code]
I also ran ```periphery scan --setup``` which fails with:
[code]
MyApp is an iOS-only package so it won't build from the command line using ```swift build```, since SPM attempts to build both macOS and iOS platforms, but like i explained in my original post, the fo

[2022-05-16 06:04] roboqo opened #497 "Configuration file ignores report_exclude option"
This is my current `.periphery.yml` configuration file
[code]

When I run `periphery scan`, in the console this is printed:
[code]
`report_exclude` option is not printed in the `[configuration:begin] ... [configuration:end]` block and the files specified in this path are not excluded from the report.

But if I run `periphery scan --report-exclude "MyApp/Resources/Generated/*.swift"`, then the outp

[2022-06-02 12:35] Jasperav opened #499 "Make Github CI fail when periphery has at least one warning"
I want to integrate periphery in my Github CI. I was wondering if there is a command available which I can run which lets the Github CI fail when there is at least one warning.

When I run scan, it returns warnings (no errors), so I doubt this will let the github CI fail. I don't see any other available commands:

[code]

Is there anything I can do to make Github CI fail when there is at least one

[2022-06-02 13:41] Jasperav opened #500 "Scan creates new dir in Caches"
I have ran periphery a few times (just with the regular scan command). It seems it creates a new dir in the Caches dir everytime it does so. I was curious why it behaves like that, because this pollutes my disk space pretty fast (takes a few gb every run). I don't think I can use the skip_build here because I change source files all the time.

[2022-06-05 15:38] ileitch commented on #500
The cache directory is based on the project and scheme used. It shouldn't create a new directory unless you change the project or scheme. Is this not what you're seeing?

[2022-06-05 15:39] ileitch commented on #499
The  `--strict` option to `scan` is what you're looking for:

[code]

[2022-06-05 15:39] #499 closed

[2022-06-05 15:44] ileitch commented on #497
`report_exclude` takes an array of values, so this is the correct format:
[code]

[2022-06-05 15:44] #497 closed

[2022-06-06 09:51] ileitch commented on #496
Unfortunately Periphery doesn't support iOS-only packages yet. Please follow along in #281 for any future updates.

[2022-06-06 09:51] #496 closed

[2022-06-08 10:37] Jasperav commented on #500
@ileitch I just test it, it creates a new dir each and every time I run the --scan command. I already fixed it locally by just removing the cache dir before invoking the command.

[2022-06-08 10:37] #500 closed

[2022-06-09 12:10] Jasperav opened #502 "Github CI throws error: 'Either the index store is outdated, or you have requested to scan targets that have not been built'"
I have a separate job which runs the periphery scan, but it fails with this error:

[code]

This is my command:

`periphery scan --strict --clean-build`

I just clone my project, brew install periphery and run that command in a github ci job. Am I missing something?

[2022-06-09 20:24] ts0l opened #503 "SwiftUI previews back to being un-retained in Swift 5.7?"
just tried out the Xcode 14 beta with Periphery, and with the Swift 5.7 toolchain, I was getting warnings that SwiftUI PreviewProvider-conforming structs were unused. AFAIK this was resolved in 2.0.0, and I was on 2.9.0. wondering if it's worth investigation! cheers :)

[2022-06-10 02:15] marcelofabri opened #504 "Add --report-include"
In a large codebase with hundreds (or thousands!) of modules, it's common to:

1. having to run `periphery` with all targets to make sure code is not used outside of your module
2. having ownership per module

While I'd love to get rid of all unused code in the app I work on, it's not feasible to do it in one step. It'd be great to have a `--report-include` (to complement `--report-exclude`) that

[2022-06-10 06:37] ryoooooory opened #505 "Let me check if this tool is sending information to other servers"
Thank for developing Periphery!
I want to use periphery for one of my clients. Usually when we use other tools they need to be audited, etc. I know periphery only uses compiler information and it does not send any information to any server outside but is there any place this is explicitly written?
Or Would it be possible to get a confirmation in this thread?
Having this information would make thin

[2022-06-12 21:56] scott-lydon opened #507 "error: Shell command '/usr/bin/env xcodebuild -project /Users/scottlydon/Desktop/iOS/Apps/QRCodeTarot/QRCodeTarot.xcodeproj -list -json' returned exit status '74':"
When I try to run `periphery scan` like I used to be able to run, I get all these warnings and issues.

[code]
Then when I follow the github guidance, and run this:

[code]
I get the following unintelligible error:

[code]
😔

[2022-06-21 03:17] alex851209 commented on #502
Same issue here

[2022-06-22 10:43] ZeroOnet opened #509 "Notification token unused warning should be ignored by default"
I registered a notification handler with a token, I don't need to access it again because Notification Center will remove it automatically if token was destoried.

Code example:
[code]

In periphery 2.9.0, It gives me a warning 「Property 'token' is assigned, but never used」This warning should be ignored by default.

[2022-06-22 21:27] leogdion opened #510 "error: (ParserError) The loaded '_InternalSwiftSyntaxParser' library is from a toolchain that is not compatible with this version of SwiftSyntax"
Included SPM and received the following error:

[2022-06-27 21:30] #504 closed

[2022-07-04 13:26] nrajput05 opened #511 "Exclude the existential protocol warning"
My app uses a lot of protocols to create empty function declarations so that they can be used across the app to enforce same rules. For example I have a protocol for localisation having one of the methods as `func handleLocalisation()`.

Now every view controller of my app which supports localisation adopts this and is forced to implement this so all the localisation code is consistently being use

[2022-07-06 13:47] V8tr commented on #281
Had similar issue, but none of the above worked cuz Periphery was using `swift build` instead of `xcodebuild`. The way I solved it:

Build the SPM package manually via `xcodebuild`:

[code]

Then use the combination of `--skip-build` and  `--index-store-path` to target the produced index store:

[code]

[2022-07-07 09:27] markst commented on #507
+1

[2022-07-07 09:36] markst commented on #507
@scott-lydon was able to resolve by running the command myself, then resolving failed packages:
[code]

[2022-07-11 17:47] david-palmer79 commented on #281
@V8tr Thank you, for this! Your solution works great.

[2022-07-11 22:58] MarcoEidinger commented on #281
@V8tr many thanks to as those instructions also work for me !!

@ileitch I raised a PR to add such explanation to the README.

[2022-07-18 10:58] dwirandytlvk opened #513 "Bazel/Buck Support"
Hallo periphery team,

Thank you for building a great tools, but i want to ask about third party build system, since in our team we did not use xcodebuild in our CI, is it possible to support Bazel or Buck?

[2022-07-18 13:26] nrajput05 commented on #511
Hi, any answers for the above please?

If I try to put // periphery:ignore on every protocol then my code documentation suffers alot. You can imagine that if I have put documentation on every protocol which is not used as existential type, then the quick description that I have added on every protocol then the quick description is not visible.

///My protocol which is not used as an existential ty

[2022-07-19 08:22] crownvic opened #514 "Xcode 14 Beta 3 Indexing"
With Xcode 14 Beta 3, when I'm scanning a project from a terminal (.xcodeproj with SPMed third-party frameworks) I get the following error message:

* Indexing...
error: (IndexStoreError) internalError("index store path does not exist: /Users/nikonov/Library/Caches/com.github.peripheryapp/DerivedData-3993676c-3993676c/Index/DataStore")

I tried to point the index store path to the Xcode's Derived

[2022-07-20 07:56] jortberends opened #515 "Periphery not making use of SSH key"
Is Periphery running on some kind of clean shell?
In Bitrise i'm activating a SSH key to read private Github repositories, but when starting the scan it is not able to load the content of the SPM packages hosted in a private github repo and it stops with the 74 exit status.
When running the `xcodebuild -resolvePackageDependencies` command manually, it does use this SSH key and resolves them succes

[2022-07-26 09:29] mehdiimrz commented on #515
I could resolve this issue by adding SSH private key to the Keychain and force ssh agent to use the Keychain.

Step 1 — Add your Private Key to Keychain
`ssh-add -K ~/.ssh/[name of your private key]`

Step 2 — Allow SSH to use always your keychain
Modify your SSH configuration file ~/.ssh/config and add the following lines:
[code]

[2022-07-26 11:58] JuancarlosExperis opened #516 "Doesn't find the stored index for targets"
Hello, I get the following error when trying to run `periphery scan`on my project

<img width="1675" alt="Screen Shot 2022-07-26 at 1 47 31 PM" src="https://user-images.githubusercontent.com/84855723/181000887-835da796-7671-4e75-bdcc-823c0bd82ee3.png">

[2022-07-27 17:23] blindmonkey opened #518 "False Positive: Inferred types used via `associatedtype` are incorrectly marked as unused"
Using Xcode 13.3.1 or 13.4.1, Periphery reports a number of our types as unused. Upon looking into this more closely, I was able to reproduce it via something like the following:
[code]

If `ContentView` is used properly, Periphery returns a warning for this code:
[code]

Even though `Output` is used both when defining `let result` as well as a return type of `finish()` (which is also used), Perip

[2022-07-29 14:40] blindmonkey commented on #511
@nrajput05 I'm not a maintainer here or anything, but I did notice that if you put `// periphery:ignore` above your SwiftDoc, then you can still see your doc in the quick description and Periphery still picks up the "ignore" message.

[2022-08-01 11:30] nrajput05 commented on #511
@blindmonkey yes but in that case the whole file is ignored and there could be some unused code present which I don't want to ignore while scanning. I just wanted to ignore this rule itself as a whole.

[2022-08-01 23:12] niehusstaab commented on #510
To add my 2 cents, I get this error when running `periphery scan` on my iOS app.
I do have multiple versions of Xcode installed (not sure if that would mess with it in any way), under build_arguments in my .periphery.yml file, I'm specifying `-sdk iphonesimulator` and I'm limiting architectures that get built with `-arch x86_64` (due to some binary dependencies I'm using not having compiled the ar

[2022-08-02 17:14] blindmonkey commented on #511
I don't believe this is the case. AFAIK, `// periphery:ignore` will just ignore the thing you attach it to. [The documentation](https://github.com/peripheryapp/periphery#comment-commands) appears to back this up. I think you might be confusing it with `// periphery:ignore:all`.

All I'm suggesting is that you take [the code you posted before](https://github.com/peripheryapp/periphery/issues/511#is

[2022-08-08 08:54] OudomSec commented on #45
I'm facing the same issue, I have tried everything but still showing the same error. Can anyone help me please.

[2022-08-09 11:18] shuguenot commented on #514
Same with Xcode 14 Beta 5 (14A5294e)

[2022-08-09 11:19] shuguenot commented on #516
duplicate of https://github.com/peripheryapp/periphery/issues/514 ?

[2022-08-09 12:13] MrJre commented on #516
@shuguenot Similarly #502

[2022-08-11 10:13] dwirandytlvk opened #520 "Exclude class/struct that inherit from Codable"
Hi there,

I want to ask, is it possible to exclude class that inherit from Codable?
Since i have so many warning related to unused property but it actually used for parsing property to http parameters

[2022-08-19 09:11] dwirandytlvk commented on #470
any update related to this?

[2022-08-21 17:54] #281 closed

[2022-08-22 18:16] CraigSiemens opened #522 "Incorrect warning for unused public protocol."
We're incorrectly getting the following warning when building our project
[code]
## Versions
Periphery: 2.9.0
Xcode: 13.4.1

## Steps to Reproduce
This is the simplest implementation I could reproduce it with.

#### Framework Target
[code]

#### App Target
[code]

## Other Details
It seems like it's an issue with the property's type being inferred from the closure. If the implementation is changed

[2022-08-30 15:06] rhys-rantmedia commented on #515
I'm having this exact issue too.
I have multiple different private SSH keys, and I've got them configured in my `.ssh/config` file. The private keys are added to my Keychain correctly.
But when I try to run `periphery scan`, it fails trying to load dependencies.
I've managed to work around it by logging into GitHub using `gh` and choosing `HTTPS` as my preferred method of connecting, but it's a fr

[2022-08-30 23:12] gsbernstein commented on #514
Same for beta 6

[2022-08-31 14:51] ileitch commented on #514
This won’t be fixed until the 14.0 stable release, as we need to wait for SwiftSyntax.

On Wed, Aug 31, 2022 at 00:13, Greg ***@***.***> wrote:

[2022-09-01 08:03] doroshenkoeng opened #524 "No warning if a swiftui view is used only in previews"
STR:
1 create a new swiftui view

ER - warning: Struct 'SwiftUIView' is unused
AR - No unused code detected

[2022-09-08 10:01] markst commented on #515
ditto

[2022-09-08 10:02] markst commented on #515
ditto. strange given I've added the keys to the keygen. I can clone the private repo using git. but fails when building using `periphery`

[2022-09-08 10:24] adarhef commented on #514
Shouldn't this PR be the fix?
https://github.com/peripheryapp/periphery/pull/523

Don't really see a reason to wait here

[2022-09-09 08:21] arthopar opened #525 "Error when run periphery scan"
Environment:
Xcode 14 RC
DerivedData data path: /Users/username/Library/Developer/Xcode/DerivedData
MacBook Pro M1 Max

I didn't get the same issue on my old mac in case scanning the same project.

Error:
* Inspecting project...
* Building Zero...
* Indexing...
error: (IndexStoreError) internalError("index store path does not exist: /Users/user/Library/Caches/com.github.peripheryapp/DerivedData-7c

[2022-09-13 17:20] joliejuly commented on #525
I have the same issue on my M1 Pro after updating Xcode to 14.0 today.

[2022-09-14 14:57] alextudge commented on #525
Same here; the Index/DataStore path seems to have been removed from derived data's created in xcode14

[2022-09-15 09:21] jortberends commented on #525
Looks like Apple decided to add the .noindex extension to the Index folder within the DerivedData so it doesn't show up in Finder searches.

[2022-09-18 09:59] adarhef commented on #514
14.0 was officially released, hoping for a fix soon as this issue completely prevents any usage currently

[2022-09-20 11:15] adarhef commented on #525
Now merged, now let's hope a new build will be released soon

[2022-09-25 07:47] tatewake commented on #525
Well, if you're a little impatient (like I am), you can do this in the DerivedData folder:
[code]
This tricks periphery 2.9.0 into working with Xcode 14.
Not ideal but a temporary fix for the issue.

[2022-09-26 04:59] canhth commented on #485
Hi @ileitch ,
Can we ask if there is any progress on this issue so far?
Or you can provide us a hint or suggestion to contribute to this?

[2022-09-27 00:46] gsbernstein commented on #525
@tatewake does that workaround work with xcode integration or just when calling periphery from command line?

[2022-09-27 02:22] tatewake commented on #525
@gsbernstein this worked via the Cocoapods integrated one for me. Should work via the one installed with brew.

I believe each project will have its own `Index` and `Index.noindex` directory in the `DerivedData` directory, so you'd have to do this temporary hack for every project you want to run this with.

Also, there may be times that `DerivedData` rebuilds itself (I don't know that for sure, bu

[2022-09-27 17:59] paxos opened #526 "Homebrew installation requires sudo (Xcode cloud failing)"
👋 I have a CI job on Xcode cloud running that started to fail lately.

Is there anything I can do to fix this? Not what changed ¯\_(ツ)_/¯

[code]

This is my `ci_post_clone.sh`:
[code]

[2022-09-29 02:58] ileitch commented on #520
Hey @dwirandytlvk, checkout the [Encodable](https://github.com/peripheryapp/periphery#encodable) section in the readme. Does the `--external-encodable-protocols` option solve your problem?

[2022-09-29 03:41] ileitch commented on #515
This is might be because Periphey launches external commands like `xcodebuild` in a (mostly) pristine shell environment. It only preserves the `PATH` and `DEVELOPER_DIR` values. Are you all using SSH forwarding or something? Perhaps we need to whitelist some `SSH_*` env values.

[2022-09-29 04:28] ileitch commented on #509
I'm afraid it's not really possible for Periphery to identify that token has special retention semantics in this context. Your only options are to use `--retain-assign-only-property-types NSObjectProtocol` or use a magic comment just for this case. See [Assign-only Properties](https://github.com/peripheryapp/periphery#assign-only-properties) for some more details.

[2022-09-29 04:28] #509 closed

[2022-09-29 04:29] ileitch commented on #513
No not yet, but it's a feature I want to implement soon. I don't think it'd be too difficult.

[2022-09-29 04:31] ileitch commented on #485
Sorry @canhth I've not had time yet to look into this.

[2022-09-29 04:37] ileitch commented on #511
@nrajput05 You could add a new option to disable this, or alternatively parse the results to automatically exclude the results you don't want. Please open a PR if you've willing to add the new option.

[2022-09-29 04:37] #511 closed

[2022-09-29 04:42] ileitch commented on #526
Hey @paxos, I'm not really a Homebrew expert so unfortunately I don't have a solution for you. You might want to try running `brew doctor` and see if that gives any helpful direction.

I'm confident this isn't an issue with Periphery directly though, as our [cask file](https://github.com/peripheryapp/homebrew-periphery/blob/master/Casks/periphery.rb) doesn't explicitly use sudo at all. Let me know

[2022-09-29 04:42] #526 closed

[2022-09-29 04:44] ileitch commented on #516
Closing as a duplicate of #514

[2022-09-29 04:44] #516 closed

[2022-09-29 04:46] ileitch commented on #505
That's correct, Periphery performs analysis locally on your machine. The only network requests made is to check for an update, or by swift/xcodebuild. Googling will give you a few ways to check the network requests made by processes.

[2022-09-29 04:46] #505 closed

[2022-09-29 04:48] ileitch commented on #507
@scott-lydon Please give @markst's suggestion a try and let us know if it resolves the issue for you.

[2022-09-29 04:48] #507 closed

[2022-09-29 04:50] #484 closed

[2022-09-29 04:53] ileitch commented on #502
Can you please include the output from the `--verbose` option?

[2022-09-30 05:41] gsbernstein commented on #525
Wasn't working but someone left a comment (now deleted) indicating I should run it inside the project folder, not just at the root of DerivedData 🤦 also in my case the path was `~/Library/Caches/com.github.peripheryapp/DerivedData-*`

[2022-09-30 18:17] pm-dev opened #528 "False Positive: `if-let` shorthand in Swift 5.7"
Swift 5.7 introduced an [`if-let` shorthand](https://github.com/apple/swift-evolution/blob/main/proposals/0345-if-let-shorthand.md) which can cause a false positive:
[code]

In this example, periphery would report
[code]

[2022-10-03 09:36] spipau commented on #514
Any updates regarding Xcode 14 support yet? Thanks!

[2022-10-04 02:10] ayyappa-s opened #529 "gentle reminder to release latest master branch with xcode 14 fixes 🙏🏾"

[2022-10-04 12:06] yegorsch commented on #525
@krzys-bfi Try cd-ing into the folder where you get the error (for me it was `/Users/user/Library/Caches/com.github.peripheryapp/DerivedData-xxxxxx-xxxx`) and run the commands from @tatewake 's [comment](https://github.com/peripheryapp/periphery/issues/525#issuecomment-1257140990) . Worked for me

[2022-10-04 16:57] gsbernstein commented on #514
There's a fix merged but they need to do a new release. [This thread](https://github.com/peripheryapp/periphery/issues/525#issuecomment-1266889103) has a temporary workaround to reenable the index.

[2022-10-04 18:34] ileitch commented on #529
I'm waiting on Apple to fix my developer account so that I can notarize binaries.

[2022-10-04 20:03] Arideno commented on #525
Worked for me, thanks @tatewake

[2022-10-05 15:04] #529 closed

[2022-10-05 16:11] erkekin commented on #529
thanks  @ileitch, we're looking forward integrating latest changes :)

[2022-10-06 09:26] buscarini opened #530 "Periphery should remove the caches after running"
I have it set up in jenkins, and I have just discovered that it was using 180GB of disk space which is why I had almost no free space in the machine. It was all in ~/Caches/com.github.peripheryapp

[2022-10-10 08:45] ileitch commented on #525
This is now fixed in v2.10.0.

[2022-10-10 08:45] ileitch commented on #514
This is now fixed in v2.10.0.

[2022-10-10 08:45] #514 closed

[2022-10-10 08:47] ileitch commented on #510
Please try again using v2.10.0 and report back if the problem persists, thanks!

[2022-10-10 08:47] #510 closed

[2022-10-10 11:27] SimplyDanny commented on #528
I've filed [this issue](https://github.com/apple/swift/issues/61509) in the Swift project.

@ileitch: You could comment there mentioning Periphery to increase the pressure. 😉

[2022-10-13 10:24] Simulacrotron opened #531 "Feature request: Shorter line output by default or compact mode"
I would love if periphery could output less per line.  Perhaps with a `--compact` flag or by dropping some unnecessary output.

Every line shows the full path to the file, a `warning` label (I've never seen an `error` or any other indicator).  I think it might be easier to scan and parse through large amounts of output if only the relative path is shown and `warning` is dropped.

When called from

[2022-10-13 14:10] amirhosseinpy opened #532 "Could not find Package.swift in this directory or any of its parent directories."
Periphery requires `Package.swift `to run when using SPM, but now, Xcode is handling the `Package.swift`.
I am using Xcode 14.0.1.

[2022-10-14 02:57] rounak commented on #513
+1 for this request

[2022-10-14 12:02] ozgur commented on #470
any update on this @ileitch? It really is not feasible to keep remembering to mark IBAction methods with "periphery:ignore".

[2022-10-17 10:21] dungi commented on #502
@Jasperav did you managed to fixed this issue?

[2022-10-17 10:49] Jasperav commented on #502
@dungi nah I gave up :(

[2022-10-20 13:54] taji-taji opened #533 "Building with SwiftPM in Swift 5.7 causes an error due to an unsafe build flag."
The following error occurred when trying to build periphery v2.10.0 using SwiftPM in Swift 5.7. (on macOS)

[code]

[code]

[2022-10-21 13:57] jzwc commented on #502
We had similar/same issue too, perhaps related to an Xcode upgrade (to 14.0.1 in our case). The error in verbose log was related to inability of some files indexing (cannot reproduce it anymore, thus no exact printout).

When I used older Xcodes, or current Xcode 4.1 beta, the error disappears… also when I run periphery in Xcode 14.0.1 build phase script again.

Cleaning caches and derived data di

[2022-10-24 21:51] videolist opened #534 "False positive of `unused initializer`"
Periphery scan fails on this one: https://app.bitrise.io/build/74f775e5-43bc-497e-8833-b6af7c87240e
It complains about an unused initializer. The initializer has default value for one of the parameters which is omitted on the call site. So initializer IS being used but with less parameters than in the full signature. Is that some new check and can it be ignored?  It's not part of the required chec

[2022-10-25 00:50] videolist commented on #534
Turns out the issue was due to the `@MainActor` on the class that has that initializer. Once that was removed it went through. So looks like the periphery check can't handle @MainActor properly.

[2022-10-25 06:50] dungi commented on #502
Hmm... didn't work for me. I updated to Xcode 14.1. But thanks anyway @jzwc for your information.

[2022-11-01 05:26] zvzuje commented on #533
@taji-taji i have the exact same issue. How did you solve that?

[2022-11-02 22:52] taji-taji commented on #533
@zvzuje Unfortunately, I haven't solved it yet either.

[2022-11-12 00:57] michaellevel opened #535 "False positive on private init"
I trimmed down my code to a reproducible example:
[code]

I do use the struct and the private init by calling the `usePrivate()` function.

[2022-11-12 11:37] ileitch commented on #535
Unfortunately, this is a known issue caused by a bug in the Swift compiler. https://github.com/peripheryapp/periphery/issues/264

[2022-11-12 11:37] #535 closed

[2022-11-12 17:57] #533 closed

[2022-11-12 18:13] ileitch commented on #470
@dwirandytlvk @ozgur Periphery does not consider accessibility when retaining references from Xibs. Could you please provide an example project that demonstrates the problem?

[2022-11-12 18:21] ileitch commented on #520
Closing due to no response. Please reply if this issue should remain open.

[2022-11-12 18:21] #520 closed

[2022-11-12 18:25] ileitch commented on #502
Does this happen consistently or is it intermittent? Are you certain that the targets you requested to analyze are actually built by the scheme?

[2022-11-12 18:26] ileitch commented on #503
Hmm, none of the tests for previews are failing with Xcode 14. Could you please provide a demo project with the issue?

[2022-11-12 18:28] ileitch commented on #531
The default output is parseable by Xcode, hence the use of `warning`. We'd need to implement a new output format for this. Would you be willing to implement this?

[2022-11-12 18:29] ileitch commented on #530
We could add a new `clear-cache` command to handle that. Would you be willing to submit a PR?

[2022-11-12 18:31] ileitch commented on #532
Are you saying your project no longer has a `Package.swift` file, yet you're still using SPM? Either this is a new feature in Xcode 14 I'm not aware of, or the location of our `Package.swift` may have changed.

[2022-11-12 18:32] ileitch commented on #524
Yes, this is deliberate, but we can change this behavior. I think rather than simply saying the struct is unused, we should have a more clear message specifically for SwiftUI previews.

[2022-11-12 18:34] ileitch commented on #394
Sorry @dalemyers, I totally forgot about this issue. Have you tried recently with Swift 5.7?

[2022-11-12 18:37] ileitch commented on #283
Closing again, sorry but I'm unlikely to ever implement this as I've very little time. It's not a bad idea, but it's also very simple to manage yourself using other tools.

[2022-11-12 18:37] #283 closed

[2022-11-14 09:38] dalemyers-flipdish commented on #394
I have not. I've actually changed companies and tech stacks, so I'm not running Periphery any longer (or even working on a mac!). I guess Wikipedia can be your test case if you want to investigate further?

Thanks for all the help!

[2022-11-15 16:43] amirhosseinpy commented on #532
Yes, Xcode is handling `Package.swift` files now.

[2022-11-17 09:02] emanuelcaesar commented on #525
Hi, I am using currently v2.10.0 but I still face the same issue.

[2022-11-17 10:36] micHar commented on #525
And I can't install / upgrade to 2.10.0, the latest on brew seems to be 2.8.1

[2022-11-17 14:55] dev-iayush27 opened #539 "error: This version of Periphery only supports Swift >= 5.6, you're using Apple Swift version 5.5"
I used this command to install Periphery:
[code]

But I am getting error while using this command:
[code]
The error is:
`error: This version of Periphery only supports Swift >= 5.6, you're using Apple Swift version 5.5
`

Please provide brew install command for swift version 5.5

[2022-11-19 11:26] ileitch commented on #539
Version 2.9.0 is the last version to support Swift 5.5, I'm not sure if it's possible to install old versions via Homebrew, but you can download the binary directly from the releases page: https://github.com/peripheryapp/periphery/releases/tag/2.9.0

[2022-11-19 11:26] #539 closed

[2022-11-19 11:28] ileitch commented on #532
Can you please provide a demonstration project that's using SPM without a Package.swift?

[2022-11-19 11:39] ileitch commented on #525
@emanuelcaesar Can you please provide the path that Periphery is attempting to load (from the error message) and the correct location of the index store?

@micHar What command are you running to update? The latest version is defined here: https://github.com/peripheryapp/homebrew-periphery/blob/master/Casks/periphery.rb

[2022-11-19 12:32] #528 closed

[2022-11-19 16:31] #518 closed

[2022-11-19 16:31] ileitch commented on #518
Thank you for reporting, and sorry for the slow resolution!

[2022-11-20 10:24] ileitch commented on #522
Thanks for reporting, and sorry for the slow resolution.

[2022-11-20 10:25] ileitch commented on #534
@videolist I can't access that Bitrise build. Could you please provide a code snippet that demonstrates the issue?

[2022-11-20 10:36] ileitch commented on #492
@arixegal Could you please provide a more complete reproduction? Just because `WebViewLinks` is extended doesn't mean it's used necessarily.

[2022-11-20 10:50] ileitch commented on #467
I'm unable to reproduce this in 2.10.0. It was most likely caused by a bug in SwiftSyntax that has now been resolved.

[2022-11-20 10:50] #467 closed

[2022-11-20 16:38] #462 closed

[2022-11-20 16:39] ileitch commented on #462
Thanks for investigating the root cause. I've added a check to detect these conflicting units.

[2022-11-20 17:08] ileitch commented on #491
Closing this as there's not enough information for me to diagnose the issue. I'll reopen if the requested demo project is provided.

[2022-11-20 17:08] #491 closed

[2022-11-20 17:19] ileitch commented on #409
Closing this, I think redundant _internal_ accessibility analysis is a little too niche, but I'm more than happy to be convinced otherwise.

[2022-11-20 17:19] #409 closed

[2022-11-20 17:22] ileitch commented on #394
Thanks, Dale. Best of luck with the new tech direction!

[2022-11-21 12:01] ileitch commented on #528
I've implemented a workaround in 2.10.1, which should cover most cases. Global properties are one notable exception though, as I couldn't find a way to achieve that in a reasonably efficient way. I'm working on a fix for the Swift bug, I hope to have that completed soon.

[2022-11-24 22:14] Vadim-Yelagin commented on #528
Unfortunately, the fix does not work for `guard let foo else {…`

[2022-11-25 10:19] crownvic opened #546 "Possible enhancement of listing unavailable initializers and methods"
If this problem affects many people, I suggest a flag to disable reporting on unavailable methods and initializers.

For example, I often do all the UI in code, so making available some required initializers doesn't make any sense:

[code]
Periphery reports this as such:
_warning: Initializer 'init(coder:)' is unused_

The output is hard to read because I have tons of these inits in a project. A c

[2022-11-25 10:43] daniel-tavares-nl commented on #286
@ileitch @jianyaoang
I found out we had the above issue.
Essentially XXX.xcodeproj>project.xcworkspace>contents.xcwordspacedata was empty in my case.
Adding the below fixed it.
<?xml version="1.0" encoding="UTF-8"?>
<Workspace
   version = "1.0">
   <FileRef
      location = "self:XXXX.xcodeproj">
   </FileRef>
</Workspace>
----
[code]
 It was hitting an empty data on the above and AEXML couldn't

[2022-11-26 19:08] #394 closed

[2022-11-26 19:35] ileitch commented on #286
@daniel-tavares-nl Thank you for sharing your solution. Could you please report this issue to the https://github.com/tuist/xcodeproj project? Periphery doesn't read xcwordspacedata files directly.

[2022-11-27 18:29] ileitch commented on #528
@Vadim-Yelagin I've pushed a fix guard-let, but I'm not able to reproduce a failure using result builders. For example, this simple example works as expected. Could you please provide a snippet demonstrating the problematic syntax?

[code]

[2022-11-27 18:31] ileitch commented on #546
This is a great suggestion, thank you. I will try to implement this soon.

[2022-11-28 14:38] jzwc commented on #502
It is back for me. See (redacted) log, the redacted parts seems to be ok.

- The `[index:swift] Source file not indexed` were recently added to the project (not locally, however, the code is a git checkout for a code review of some changes made by somebody else).
- The workspace and all targets compile as expected without errors (with just some warnings).
- The examined Xcode target also runs `swi

[2022-11-29 14:02] patryk-sredzinski opened #549 "False positive: Assigned but never used. Shortened Guard statement (Swift 5.7)"
In example provided below Periphery claims that delegate is not used which is not true.

[code]

Changing the line:
[code]
to:
[code]
solves the issue, although It would be nice Periphery supports new shortened if let and guard let that came out in Swift 5.7.

[2022-11-29 14:05] ileitch commented on #549
What version are you using? 2.10.2 contains a workaround for shorthand let syntax.

[2022-11-29 14:08] patryk-sredzinski commented on #549
I am using the 2.10.2.

I was trying to make a simpler case with this shortened guard case, and it worked well. Using protocols for a class like on the example causes the false positive.

[2022-11-29 14:09] ileitch commented on #549
Gotcha, I'll take a look into this. Thanks for reporting!